body {
  font-family: Verdana, sans-serif;
  background-color:blue;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.iconos {
  font-size:125px;
}
#iconos {
  background-color:blue;
}
